.log_in_page {
    /* background: url(../image/pexels-pixabay-531880.jpg); */
    padding: 160px;
    text-align: center;
    background: linear-gradient(33deg, black, #57a1c58c);
}
.log {
    width: 30%;
    background: #0000004a;
    box-shadow: 6px 6px 6px black;
    margin-left: 350px;
    padding: 15px;
    border-radius: 5px;
}


.log h1 {
    color: #fff;
    font-size: 32px;
}
.log p {
    text-align: left;
    margin-left: 38px;
    color: #ddd;
}
.log input {
    padding: 14px 22px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    margin-top: -11px;
}

.log input::placeholder{
    color: rgb(138, 245, 128);
}
.log h6 {
    margin-top: 7px;
}
.log h6 a {
    font-size: 18px;
    color: #607db3;
    text-decoration: none;
    margin-left: -88px;
}
.log button {
    padding: 11px 36px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.banner {
    background: linear-gradient(to right, blue, red);
    padding: 106px 0;
}
.content {
    width: 500px;
    text-align: center;
    margin-left: 528px;
    background: #0000006b;
    color: #e3e3e3ba;
    padding: 9px;
}
.content h1{}
.content p{}
